[{:IndexFieldName "airport_code",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "airport_code_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "airport_code",
                :AnalysisScheme "_en_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "country_code",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "country_code_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "country_code",
                :AnalysisScheme "_en_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "country_name",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "country_name_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :AnalysisScheme "_en_default_"
                :SourceField "country_name"}}
 {:IndexFieldName "full_name",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "full_name_starts_with",
  :IndexFieldType "literal-array",
  :LiteralArrayOptions {:FacetEnabled true,
                        :ReturnEnabled true,
                        :SearchEnabled true}}
 {:IndexFieldName "full_name_starts_with_anywhere",
  :IndexFieldType "literal-array",
  :LiteralArrayOptions {:FacetEnabled true,
                        :ReturnEnabled true,
                        :SearchEnabled true}}
 {:IndexFieldName "full_name_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "full_name",
                :AnalysisScheme "_mul_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "hotel_count",
  :IndexFieldType "int",
  :IntOptions {:FacetEnabled true,
               :ReturnEnabled true,
               :SearchEnabled true,
               :SortEnabled true}}
 {:IndexFieldName "is_primary",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "latlng",
  :IndexFieldType "latlon",
  :LatLonOptions {:FacetEnabled true,
                  :ReturnEnabled true,
                  :SearchEnabled true,
                  :SortEnabled true}}
 {:IndexFieldName "name",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "name_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "name",
                :AnalysisScheme "_mul_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "place_type",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "region_code",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "region_code_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "region_code",
                :AnalysisScheme "_en_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "region",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}
 {:IndexFieldName "region_text",
  :IndexFieldType "text",
  :TextOptions {:ReturnEnabled true,
                :SortEnabled true,
                :SourceField "region",
                :AnalysisScheme "_mul_default_",
                :HighlightEnabled false}}
 {:IndexFieldName "tid",
  :IndexFieldType "literal",
  :LiteralOptions {:FacetEnabled true,
                   :ReturnEnabled true,
                   :SearchEnabled true,
                   :SortEnabled true}}]
